<% if @order.present? && @order.order_items.present? %>
  <h1>Draft Order Details</h1>

  <p><strong>Total Price:</strong> <%= number_to_currency(@order.total_price) %></p>

  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Item price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.book.title, book_path(order_item.book.id) %></td>
          <td><%= order_item.quantity %></td>
          <td><%= number_to_currency(order_item.book.price) %></td>
          <td><%= number_to_currency(order_item.item_price) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No order or order items found.</p>
<% end %>