<h1><%= @book.title %></h1>

<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
<p><strong>Published Year:</strong> <%= @published_year %></p>
<p><strong>Genre:</strong> <%= @genre %></p>