<!DOCTYPE html>
<html>
  <head>
    <title>BookStoreApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Go to homepage", root_path, style: 'margin-top: 20px' %><br/>
    <%= link_to 'View Draft Order', show_draft_order_path, class: 'btn btn-primary' %>
    <%= yield %>
  </body>
</html>
